.App {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 2px 16px;
  width: 100%;
  margin: 0.7rem;
}

.flexItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
